* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

.no-margin {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}


/* html {
  scroll-behavior: smooth;
} */

body { 
  background-color: #FEF9ED;
}

main {
  display: grid;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-400 {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.content-text {
  font-size: 20px;
}

.link {
  color: black;
}

.content-grid {
  display: grid;
  grid-template-columns: minmax(1em, 100px) [content-start] 1fr [content-end] minmax(10px, 100px);
    /*   --padding-inline: 2rem; */
    /* [full-width-start] minmax(var(--padding-inline), 100px)
    [breakout-start] minmax(0, 100px) 
    [content-start] 1fr [content-end] 
    minmax(0, 100px)  [breakout-end] 
    minmax(var(--padding-inline), 100px) [full-width-end]; */
}

.content-grid > * {
  grid-column: content;
}

.bi {
  transition-duration: 200ms;
  color: black;
  font-size: 24px;
}

.bi-github:hover {
  color: #9198a1;
}

.bi-linkedin:hover{
  color: #0a66c2;
}

.bi-file-earmark-person-fill:hover {
  color:hsl(170, 100%, 25%);
}

.same-line {
  display: inline-flex;
  align-items: baseline;
  gap: 8px;
}

.after-8px {
  margin-bottom: 8px;
}

.after-1em {
  margin-bottom: 1em;
}

.landing {
  display: grid;
  gap: 2em;
  margin-top: 10vh;
  min-height: 83dvh;
  min-width: fit-content;
}

@media screen and (min-width: 1024px) {
  .landing-half {
    grid-row-start: 2;
  }

}

.landing-half {
  height: min-content;
  align-self: start;
}

.landing-text {
  display: grid;
  width: fit-content;
  grid-template-rows: min-content 1fr;
}

.landing-photo {
  transition: all 0.2s;
  content: linear-gradient(135deg, red 7%, #fbbc04, #34a853, #1967d2 93%);
  display: flex;
  justify-self: center;
  min-width: 300px;
  width: 300px;
  height: 400px;
}

/* .one-line {
  min-width: max-content;
} */

.main-heading {
  font-size: 90px;
  line-height: 90px;
  height: min-content;
}

.subheading {
  font-size: 40px;
}

@keyframes heading-out {
  to {
    opacity: 0;
  }
}

@keyframes heading-in {
  from {
    opacity: 0;
  }
}

.view-transition-title-1 {
  view-transition-name: title-1;
}

::view-transition-new(title-1) {
  animation: 0.25s cubic-bezier(0,1,1,1.25) heading-in;
}

.subheading3 {
  font-size: 32px;
}

.inline {
  display: inline;
}

.article {
  margin-block-end: 1em;
  margin-inline-end: 1em;
}

.article > p {
  margin-bottom: 8px;
}

.bio {
  justify-items: left;
  align-self: start;
  padding-top: 0.5em;
  word-break: break-word;
}

.bio-text {
  font-size: 24px;
  margin-bottom: 0.5em;
}

